@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body{
  margin: 0 auto;
  background-color: #222;
}

#header{
  display: grid;
  margin: 0 auto;
  max-width: 960px;
  grid-template-columns: 384px 576px;
}

h1{
  font-family: "Krona One", "Helvetica", sans-serif;
  font-size: 27px;
  padding-left: 10px;
}

.header-title a:link{
  color: #fff;
}

.header-title a:hover{
  color: #fff;
}

.header-title a:active{
  color: #fff;
  text-decoration: none;
}

.header-title a:visited{
  color: #fff;
}

.media{
  background-color: #F47321;
  color: #fff;
  padding: 1px 5px 1px 3px;
  margin-left: 10px;
}

nav{
  font-family: "Krona One", "Helvetica", sans-serif;
  text-align: right;
}

main{
  background-color: #fff;
}

nav li{
  display: inline-block;
  text-align: right;
  font-size: 11px;
  margin-top: 17px;
  margin-left: 30px;
}

nav a:link{
  color: #fff;
  text-decoration: none;
}

nav a:visited{
  color: #F47321;
}

nav a:hover{
  color: #fff;
  background-color: #F47321;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

nav a:active{
  text-decoration: underline;
}

figcaption, p{
  font-family: "Ubuntu", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

#about-me{
  display:grid;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: 345px 595px;
  column-gap: 20px;
}

h2{
  font-family: "Krona One", "Helvetica", sans-serif;
  color: #222;
  font-size: 22px;
}

.about-me-header{
  grid-column-start: 1;
  grid-column-end: -1;
  padding-top: 1px;
}

figure{
  margin-left: 0px;
  margin-top: -5px;
}

figcaption{
  margin-top: 5px;
}

img{
  border-radius: 5px;
}

.about-me-image{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  padding-top: 10px;
}

h3{
  font-family: "Krona One", "Helvetica", sans-serif;
  color: #005030;
}

.about-me-text{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  margin-top: -20px;
  line-height: 1.5;
}

#my-why{
  max-width: 960px;
  margin: 0 auto;
}

#fun-facts{
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 960px;
  margin: 0 auto;
  line-height: 1.5;
  column-gap: 20px;
  padding-bottom: 50px;
}

.fun-facts-list{
  font-family: "Ubuntu", "Helvetica", sans-serif;
  font-weight: 400;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: -15px;
}

.fun-facts-list li{
  margin-bottom: 10px;
  padding-right: 15px;
}

h4{
  font-family: "Krona One", "Helvetica", sans-serif;
  color:#fff;
  font-size: 15px;
  text-align: center;
}

.bucket-list-adventure{
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #444;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: justify;
  color: #fff;
  margin-top: -20px;
}

footer{
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fff;
  font-style: italic;
}

#experience{
  max-width: 960px;
  margin: 0 auto;
  margin-top: -18px;
  padding-bottom: 10px;
}

.experience-header{
  padding-top: 18px;
}

#cavsconnect{
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.cavsconnect-logo{
  float: right;
  padding-left: 15px;
  margin-top: 10px;
  text-align: right;
}

a:link{
  color: #F47321;
  text-decoration:none;
}

a:hover{
  color: #005030;
}

a:active{
  text-decoration: underline;
}

a:visited{
  color: #4B0082;
}

#fish-stripes{
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.fish-stripes-logo{
  float: left;
  padding-left: 15px;
  padding-top: 10px;
  text-align: left;
}

#tmsn{
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.tmsn-logo{
  float: right;
  text-align: right;
  margin-top: 10px;
  padding-left: 15px;
}


#hps{
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 306px 306px 306px;
  column-gap: 20px;
  padding-bottom: 50px;
}

.hps-header-and-description{
  grid-column-start: 1;
  grid-column-end: -1;
}

.camera{
  grid-column-start: 1;
  grid-column-end: 2;
}

.day-one{
  grid-column-start: 2;
  grid-column-end: 3;
}

.control-room{
  grid-column-start: 3;
  grid-column-end: 4;
}

#category-5-about{
  max-width: 960px;
  margin: 0 auto;
  margin-top: -18px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.category-5-header{
  padding-top: 18px;
}

.category-5-logo{
  float: right;
  padding-left: 15px;
  text-align: right;
}

#category-5-content{
  max-width: 960px;
  margin: 0 auto;
}

.category-5-involvement{
  grid-column-start: 1;
  grid-column-end: -1;
  padding-bottom: 5px;
}

.category-5-up-next{
  grid-column-start: 1;
  grid-column-end: -1;
}

#category-5-gallery{
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#tmh-about{
  max-width: 960px;
  margin: 0 auto;
  margin-top: -18px;
  padding-bottom: 5px;
}

.tmh-header{
  padding-top: 18px;
}

.tmh-logo{
  float: right;
  text-align: right;
  padding-left: 15px;
}

#tmh-content{
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.tmh-involvement{
  grid-column-start: 1;
  grid-column-end: -1;
}

.tmh-ul li{
  font-family: "Ubuntu", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 10px;
}

.tmh-sports-stories{
  grid-column-start: 1;
  grid-column-end: 2;
}

#umtv-about{
  max-width: 960px;
  margin: 0 auto;
  margin-top: -18px;
  padding-bottom: 5px;
}

.umtv-header{
  padding-top: 18px;
}

.umtv-logo{
  float: right;
  text-align: right;
  padding-left: 15px;
}

#umtv-content{
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 470px 470px;
}

.umtv-involvement{
  grid-column-start: 1;
  grid-column-end: -1;
}

.newsvision-logo{
  grid-column-start: 2;
  grid-column-end: 3;
}

.newsvision-package{
  float: right;
}

.umtv-up-next{
  grid-column-start: 1;
  grid-column-end: -1;
}
