
body{
  max-width: 960px;
  margin: 0 auto;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

h1{
  color: #0D5EAF;
  font-family: sans-serif;   
  font-size: 100px;
  text-align: center;
}

nav{
  text-align: center;
  margin-top: -55px;
}

nav ul{
  width: 960px;
  padding-left: 0;
}

nav li{
  display: inline-block;
  width: 20%;
  font-family: "Teko", "GFS Neohellenic", "Helvetica", sans-serif;
  font-size: 25px;
}

nav a:link{
  text-decoration: none;
  color: #0D5EAF;
}

nav a:visited{
  color:#6fbbd3;
}

nav a:hover{
  color: #fff;
  background-color: #0D5EAF;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
}

nav a:active{
  text-decoration: underline;
}

h2{
  color: #fff;
  background-color: #0D5EAF ;
  font-family: "Teko", "GFS Neohellenic", "Helvetica", sans-serif;
  font-size: 35px;
  padding-left: 10px;
  padding-top: 2px;
  opacity: 85%
}

.greece-flag{
  float: left;
  margin-left: 0;
}

.introduction-text{
  padding: 2px;
}

a:link{
  text-decoration: none;
  color: #0D5EAF;
}

a:visited{
  color:#6fbbd3;
}

a:hover{
  color: #000;
}

a:active{
  text-decoration: underline;
}

#introduction{
  width: 960px;
}

#geography{
  display: grid;
  width: 960px;
  grid-template-columns: 330px 1fr;
  column-gap: 20px;
}

.geography-header{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
}

.greece-map{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  margin-left: 0;
}

figcaption{
  padding: 5px;
}

.geography-text{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

h3{
  color: #6fbbd3;
}

.natural-resources-list{
  padding-left: 0px;
}

.natural-resources-list li{
  display: inline-block;
  background-color: #6fbbd3;
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-weight: bold;
}


#people-and-society{
  display: grid;
  width: 960px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.people-and-society-header{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
}

.people-and-society-left-text{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
}

.people-and-society-left-text li{
  padding-bottom: 10px;
}

.people-and-society-center-text{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  padding-left: 25px;
}

table{
  text-align: center;
  border: 3px;
  border-style: solid;
  border-color: #000;
}

th, td{
  border: 1px;
  border-style: solid;
  border-color: #000;
  padding: 3px;
}

.people-and-society-sidebar{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  background-color: #eee;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 15px;
  margin-right: 25px;
}

.people-and-society-sidebar ul{
  margin-left: -20px;
}

.people-and-society-sidebar li{
  padding-bottom: 10px;
}

#government{
  display: grid;
  width: 960px;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}

.government-header{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
}

.government-right-column{
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 2;
}

footer{
  font-style: italic;
  padding-top: 20px;
}
